body {
	background-color: white;
	border-radius: 2px;
	font-family: sans-serif;
	margin: 2em;
}

input[type=checkbox] {
	vertical-align: -0.1em;
}

#url {
	background-image: url('blocked.svg');
	background-repeat: no-repeat;
	line-height: 1.4;
	overflow-wrap: break-word;
	padding-left: 22px;
	white-space: pre-wrap;
}

.controls {
	line-height: 2;
	word-spacing: 0.4em;
}

.control-section {
	display: inline-block;
	vertical-align: middle;
	word-spacing: 0;
}

.buttons {
	line-height: 1.6;
}

.action-icon {
	vertical-align: -0.1em;
}
