body {
	min-width: 430px;
}

#recent {
	list-style: none;
	margin: 0;
	padding: 0;
}

.host {
	align-items: center;
	display: flex;
	padding: 0.6em;
}

.hostname {
	flex: 1;
	text-align: right;
	white-space: nowrap;
}

.actions {
	margin-left: 0.6em;
}

.actions input {
	vertical-align: text-top;
}

#empty {
	margin: 0.6em;
	text-align: center;
}

#actions {
	display: flex;
	margin: 0.5em 0;
}

#actions > * {
	flex-grow: 1;
	margin: 0 0.5em;
	text-align: center;
}

#actions > * + * {
	margin-left: 0;
}
